{% extends 'home_admin/index.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <h2 style="text-align:center">Inscription</h2>
    <br>
    {{ form_start(registrationForm) }}
<div class="content-form" style="display: flex;justify-content: center;">
    <div class="p-5" style="width: 800px; background-color: whitesmoke">




        {{ form_errors(registrationForm) }}
        <div class="form-group mb-4">
            {{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'text-right'}}) }}
            {{ form_widget(registrationForm.email,{'attr': {'class': 'form-control mt-2'}, 'placeholder': 'Entrez le nom de l\'article'}) }}
        </div>

        <div class="form-group mb-4">
            {{ form_label(registrationForm.plainPassword, 'Mot de Passe', {'label_attr': {'class': 'text-right'}}) }}
            {{ form_widget(registrationForm.plainPassword,{'attr': {'class': 'form-control mt-2'}, 'placeholder': 'Entrez le nom de l\'article'}) }}
        </div>

        <div class="form-group mb-4">
            {{ form_label(registrationForm.roles, 'Choisir un rôle', {'label_attr': {'class': 'text-right'}}) }}
            {{form_row(registrationForm.roles,{'attr': {'class': 'form-control mt-2'}}) }}
        </div>

        <div class="form-group mb-4">
            {{ form_row(registrationForm.agreeTerms) }}
        </div>


        <button class="btn btn-dark">{{ button_label|default('Enregistrer') }}</button >

    </div>
</div>
    {{ form_end(registrationForm) }}
{% endblock %}
